<template>
  <div id="app">
    <div class="md-layout md-alignment-center" style="width: 100%">
      <div class="md-layout-item board">
        <div class="md-layout row" v-for="row,rowKey in squares"
            :key="rowKey">
            <div class="md-layout-item cell" 
              v-for="cell,colKey in row"
              :key="colKey"
              :class="{
                active: squares[rowKey][colKey].isActive
              }"
              @click="updateCell(rowKey, colKey)">
            </div>
        </div>
      </div>
      <div class="md-layout-item info">
          <ul v-if="messages.length" id="messages">
            <li v-for="message,key in messages" :key="key">
              <span class="md-list-item-text">
                <strong v-html="message.title"></strong>
                <span v-html="message.subtitle"></span>
                <p v-html="message.text"></p>
              </span>
              <hr>
            </li>
          </ul>
          <div v-else style="padding: 1rem">
            Activity will show here
          </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      squares: [],
      messages: []
    };
  },
  methods: {
    updateCell(rowKey, colKey) {
      let row = this.squares[rowKey];
      let cell = row[colKey];
      let originalState =  cell.isActive;
      cell.isActive = !cell.isActive;
      cell.clicked++;
      row.splice(colKey, 1, cell);
      let message = {
        title: `Cell [${rowKey}, ${colKey}]`,
        subtitle: `Was <b>${originalState == true ? ' active' : 'not active'}</b>, and is now <b>${cell.isActive === true ? ' active' : 'not active'}</b>`,
        text: `Was clicked <b>${cell.clicked}</b> times`
      };
      this.messages.unshift(message);
    }
  },
  mounted () {
    /**
     * Grid needs to be setup this way for reactivity.
     * Originally used: 
     * this.squares = (new Array(8)).fill((new Array(8)).fill({ class: 'cell', isActive: false, title: 'title', clicked: 0}))
     * This doesn't work properly with how Vue handles arrays
     */
    for(var row = 0; row < 8; row++) {
      this.squares.push([]);
      for(var col = 0; col < 8; col++) {
        this.squares[row].push({
          class: 'cell', 
          isActive: false, 
          title: `cell[${row}][${col}]`, 
          clicked: 0
        });
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../node_modules/vue-material/src/theme/engine";

.cell {
  height: 100%;
  width: 100%;
  border: solid thin transparent;
  cursor: pointer;
}

.cell:hover,
.cell.active {
  background-color:#42b983 !important;
}

.board {
  flex: 0 0 75vh;
  height: 75vh;
  border: solid thin black;
}

.row {
  height: 12.5%;
}

ul, li {
  text-align: left;
  list-style-type: circle;
}

ul {
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: auto;
  width: 100%;
  padding-left: 1rem;
}

ul li {
  padding: 0.5rem 0;
  opacity: 0.75;
  width: 100%;
  list-style-type: none;
}

ul li:first-child {
  opacity: 1;
}

.info {
  flex: 0 0 25vw;
  align-self: flex-end;
  display: flex;
}

.row:nth-child(odd) .cell:nth-child(even) {
  background-color: #000;
}

.row:nth-child(even) .cell:nth-child(odd) {
  background-color: #000;
}

body {
  display: flex;
  align-items: flex;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  align-items: center;
  display: flex;
}

h1, h2 {
  font-weight: normal;
}

a {
  color: #42b983;
}

@media screen and (max-width: 768px) {
  .board {
    flex: 0 0 100%;
    width: 100%;
    height: 100vw;
  }

  .cell {
    height: 100%;
    width: 12.5%;
  }

  .row {
    height: 12.5%;
  }

  .info {
    flex: 0 0 100%;
  }

  #app {
    align-items: flex-start;
  }
}
</style>
